@{
    ViewBag.Title = "Split &amp; Randomize";
}

<h2>Split &amp; Randomize</h2>
@Html.Label("numLists", "Number of Lists")
@Html.TextBox("numLists")<br />
<div id="source" style="width: 45%; float: left">
    @Html.Label("list", "List (one item per line)")
    @Html.TextArea("list", new { style = "width:100%;height:300px" })
</div>

<div id="destination" style="width: 45%; float: left; margin-left: 3%;">
    @Html.Label("result", "Results")
    @Html.TextArea("result", new { style = "width:100%;height:300px" })
</div>
<div class="clear-fix"></div>
<br />
<button id="thebutton">Split &amp; Randomize</button>
<div id="message"></div>
@section scripts
{
    <script>
        $(function () {
            $("#thebutton").click(function () {
                $("#message").text("");

                $(this).text("Splitting...").attr("disabled", true);
                $.ajax({
                    url: "/api/randomize",
                    type: "POST",
                    data: {
                        numLists: $("#numLists").val(),
                        list: $("#list").val()
                    },
                    error: function(data)
                    {
                        $("#thebutton").text("Split & Randomize").attr("disabled", false);
                        var n = $.parseJSON(data.responseText);
                        $("#message").text("Uh oh! " + n.Message+" : "+n.ExceptionMessage);
                    },
                    success: function(data){
                        $("#thebutton").text("Split & Randomize").attr("disabled", false);
                    },
                    statusCode: {
                        200: function (data) {
                            var output = "";
                            for (var i = 0; i < data.length; i++) {
                                output += "--- LIST " + (i + 1) + " ---\n";
                                for (var x = 0; x < data[i].length; x++) {
                                    output += data[i][x] + "\n";
                                }
                            }
                            $("#result").val(output);
                        }
                    }
                });
            });
        });
    </script>
}